
<section style="background-color: #eee;">
  <div class="container py-3">
    <div class="row">
      <p class="h4">Explore Our Diverse Moss Art Collections</p>
      <hr>
    </div>

    <div class="row p-2" *ngFor="let product of products | chunk: 3">
      <div class="col-md-12 col-lg-4 mb-4 mb-lg-0" *ngFor="let item of product">
        <a routerLink="/product/{{item.productId}}">
        <div class="card">
          <div class="d-flex justify-content-between">
            <p class="mb-0 p-3">{{item.category}}</p>
            <div
              class="bg-info d-flex align-items-center justify-content-center shadow-1-strong"
              style="width: 100px; height: 35px;" *ngIf="item.isNewArrival">
              <p class="text-white mb-0 small">New Arrival</p>
            </div>
          </div>
          <img src="{{item.image}}"
            class="card-img-top" alt="Laptop" />
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <p class="small"><a href="#!" class="text-muted">Actual Price</a></p>
              <p class="small text-danger"><s>${{item.actualprice}}</s></p>
            </div>

            <div class="d-flex justify-content-between mb-3">
              <h6 class="mb-0">{{item.name}}</h6>
              <h6 class="text-dark mb-0">${{item.price}}</h6>
            </div>

            <div class="d-flex justify-content-between mb-2">
              <p class="text-muted mb-0">Available: <span class="fw-bold">{{item.stock}}</span></p>
              <div class="ms-auto text-warning">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
        </a>
      </div>
    </div>
  </div>
</section>