.carousel-item {
    transition: transform 0.6s ease, opacity 0.6s ease;
  }

  .carousel-caption {
    animation: fadeInUp 1s;
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }