<div class="container-fluid">
<div class="row">
  <div class="col-12">
    <mdb-carousel [controls]="true" [indicators]="true">
      <mdb-carousel-item>
        <img
          src="https://i.etsystatic.com/25522128/r/il/8e4473/4489490255/il_570xN.4489490255_fti4.jpg"
          class="d-block w-100 carousel-image"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img
          src="https://i.pinimg.com/736x/d5/23/e4/d523e4f3def3261e6b3c991700727ea0.jpg"
          class="d-block w-100 carousel-image"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img
          src="https://wgme.com/resources/media/f08999ca-ed48-4be2-b933-08e4ec1bbc70-jumbo21x9_MossartfromOutsideInMaine.WGME.jpg?1626057349658"
          class="d-block w-100 carousel-image"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </mdb-carousel-item>
    </mdb-carousel>
</div>
</div>

<div class="row mt-3">
  <app-product></app-product>
</div>
</div>
